.NotResourse {
  color: gray;
  font-style: 24px;
}
.ClassworkContainer {
  border-radius: 20px;
  margin-top: 10px;
  text-align: left;
  width: 650px;
  border: 1px solid rgb(132, 176, 242);
}
.TopBox {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  height: 30px;
  padding: 10px;
  display: flex;
  background-color: rgb(176, 202, 239);
}
.UserIdTableContainer {
  width: 180px;
  max-height: 200px;
  position: absolute;
  top: 0;
  right: 1px;
  background-color: white;
  z-index: 15;
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
  overflow-y: scroll;
}
.UserIdTable {
  width: 100%;
  max-height: 200px;
}
.UserIdTableItem {
  background-color: rgb(222, 222, 222);
  border-radius: 5px;
}

.UsernameIndex {
  padding-left: 5px;
  width: 20px;
}

.Username {
  padding: 5px;
  color: black;
}
.RedText {
  color: red;
}
.FlexBox{
  display: flex;
  height: 30px;
  align-items: center;
}
.ScoreContainer{
  font-weight: bold;
}
.FileUploaderContainer {
  position: absolute;
  right: 11px;
  top: -1px;
  width: 200px;
  height: 210px;
  z-index: 15;
}
.BottomBox {
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.ScoreInputContainer{
  text-align: left;
  background-color: rgb(193, 159, 230);
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.ScoreInputContainer input{
  outline: none;
  padding: 4px;
  margin-left: 10px;
  border-radius: 5px;
}
.BigDescription {
  text-align: left;
  width: 610px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.SmallDescription {
  width: 610px;
  text-align: left;
  word-wrap: break-word;
}
.FaChevronDownIcon {
  position: absolute;
  top: 10px;
  right: 5px;
}
.AssetsContainer {
  display: flex;
  float: left;
  width: 100%;
  overflow: auto;
}
.ClassworkImg {
  margin: 0 5px;
  max-height: 125px;
  position: relative;
}
.ClassworkImg img {
  height: 120px;
}
.ClassworkTitle {
  position: relative;
  text-align: left;
  width: 540px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.IconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
}
.SubmissionCount {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 5px;
}
.FaIcon {
  margin-left: 5px;
}
.FileIcon {
  margin-top: 20px;
  font-size: 60px;
  width: 110px;
  color: rgb(193, 159, 230);
}
.ClassworkFile {
  margin:0 5px;
  padding: 10px;
  font-size: 13px;
  background-color: rgb(82, 3, 171);
  border-radius: 10px;
}
.Title {
  color: rgb(193, 159, 230);
  width: 100px;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
