.Quizzes {
  position: relative;
  width: 95%;
}
.AddBtn {
  font-size: 24px;
  color: white;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 7px;
  border-radius: 50%;
  background-color: rgb(218, 71, 218);
  position: absolute;
  right: 9px;
  top: 10px;
  z-index: 10;
}
.BarBtnContainer {
  position: relative;
  width: 100%;
  height: 30px;
}
.BarBtn {
  position: absolute;
  top: 60px;
  right: 9px;
}
.QuizTypeList {
  padding: 8px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  right: 5px;
  top: 60px;
  z-index: 1;
}
.QuizTypeList li {
  padding: 5px 10px;
  cursor: pointer;
  color: #333;
}

.QuizTypeList li:hover {
  background-color: #007bff;
  color: #fff;
}
.ShowClass {
  display: block;
}
.QuizzesList {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: auto;
  width: auto;
}
.Quiz {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  height: 140px;
  position: relative;
  width: 350px;
  margin: 5px;
  border: 1px solid #adadf5;
  border-radius: 5px;
}
.QuizInfo {
  padding: 10px;
  background-color: #adadf5;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.StatusBox {
  border: 1px solid rgb(128, 105, 223);
  background-color: rgb(138, 110, 251);
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  position: absolute;
  left: 5px;
  top: 3px;
}
.TchName,
.Title {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Title{
  border: none;
  background-color: transparent;
  max-width: 220px;
}
.TchName{
  width: 180px;
}
.ManageBtn {
  position: absolute;
  right: 10px;
  top: 4px;
  width: 20px;
  height: 20px;
  color: #555555;
}
.ManageContainer {
  list-style: none;
  padding: 8px;
  margin: 0;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  right: 10px;
  top: 4px;
  z-index: 1;
}
.ManageContainer li {
  padding: 5px 10px;
  cursor: pointer;
  color: #333;
}

.ManageContainer li:hover {
  background-color: #007bff;
  color: #fff;
}
.ShowClass {
  display: block;
}
.DeleteBtn{
  position: absolute;
  right: 10px;
  top: 7px;
  color: #555555;
}