.FilesContainer {
    border: 1px solid black;
    border-radius: 20px;
    width: 95%;
    height: 95%;
    overflow: auto;
    padding: 5%;
    background-color: white;
  }
  
  .FilesList {
    max-height: 76%;
    overflow-x: auto;
  }
  
  .File {
    margin-bottom: 10px;
    height: 23%;
    border: 1px solid black;
    border-radius: 10px;
    width: 87%;
    padding: 10px;
    display: flex;
    font-size: 12px;
  }
  
  .LessFile {
    width: 87%; /* 改成100%以适应不同大小的容器 */
  }
  
  .FileIcon {
    height: 70px;
  }
  
  .BottomBox {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
  }
  
  .FileName {
    display: block;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
  }
  
  .DeleteIcon {
    position: absolute;
    right: 5px;
  }
  
  .UploadArea {
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    width: 93%;
    height: 18%;
    border: 5px dashed rgb(110, 110, 110);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .UploadButton {
    display: block;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  