.Header{
    height: 50px;
    padding: 10px 0;
    background-color: rgb(173, 173, 245);
    display: flex;
    flex-direction: row;
}
.ImageContainer{
    flex: 1;
    height: 100%;
}
.ImageContainer img{
    background-color: white;
    height: 100%;
}
.Navbar{
    background-color: rgb(173, 173, 245);
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 25px;
    line-height: 30px;
}
.Navbar a{
    flex: 1;
    display: block;
    color: white;
    display: block;
    width: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.Navbar .Active{
    background-color: rgb(134, 134, 191);
}
.RightContainer{
    flex: 1;
    display: flex;
}
.BtnContainer button{
    font-size: 14px;
    background-color: rgb(173, 173, 245);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}
.BtnContainer button:hover{
    background-color: rgb(134, 134, 191);;
}
.AvatarContainer{
    margin-right: 120px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.AvatarContainer img{
    height: 100%;
}
