.NotResourse{
    color: gray;
    font-style: 24px;
}
.CourseContainer{
    margin-top: 10px;
    overflow: hidden;
    text-align: left;
    width: 650px;
    border: 1px solid rgb(132, 176, 242);
}
.TopBox{
    position: relative;
    height: 30px;
    padding: 10px;
    display: flex;
    background-color: rgb(176, 202, 239);
}
.BottomBox{
    position: relative;
    overflow: hidden;
    padding: 10px;
}
.BigDescription {
    text-align: left;
    width: 610px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.SmallDescription {
    width: 610px;
    text-align: left;
    word-wrap: break-word;
}
.FaChevronDownIcon{
    position: absolute;
    top: 10px;
    right: 5px;
}
.AssetsContainer{
    display: flex;
    float: left;
    width: 100%;
    overflow: auto;
}
.CourseImg{
    margin: 0 5px;
    max-height: 125px;
    position: relative;
}
.CourseImg img{
    height: 120px;
}
.CourseTitle {
    position: relative;
    text-align: left;
    width: 540px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
.IconContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 15px;
}
.FaIcon{
    margin-left: 5px;
}
.FileIcon{
    margin-top: 25px;
    font-size: 60px;
    width: 110px;
    color: rgb(193, 159, 230);
}
.CourseFile{
    margin:0 5px;
    padding: 10px;
    font-size: 13px;
    background-color: rgb(82, 3, 171);
    border-radius: 10px;
}
.Title {
    color: rgb(193, 159, 230);
    width: 100px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  