.Quiz{
  background-color: black;
  width: 100%;
  overflow: auto;
}
.QuestionContainer {
    height: 100%;
    padding: 10px;
    color: gray;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}
.Question{
  word-wrap: break-word;
}
.ChoicesList{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}
.ChoiceItem {
  padding: 5px;
  max-width: 100%;
  min-height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  flex-grow: 1;
  border-radius: 5px;
  cursor: pointer;
}
.ChoiceItem p{
  width: 100%;
  word-wrap: break-word;
}
.Selected{
  background-color: green;
}
.SubmitBtn {
  background-color: rgb(173, 173, 245);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

.SubmitBtn:hover {
  background-color: rgb(134, 134, 191);
}